@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
*{
    font-family: 'Cormorant Garamond';
    margin: 0;
    padding: 0;
    color: #363636;
}
p{
    font-size: 20px;
}