.card {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: 0.25s ease;
  border: 2px solid transparent;
}

.card:hover {
  border-color: #666b70;
  box-shadow: 0 rgb(48, 61, 75)x rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.title {
  margin: 12px 16px 4px;
  font-size: 18px;
  font-weight: 300;

}

/* цена */
.price {
  margin: 0 16px 16px;
  font-size: 20px;
  font-weight: 700;
}
