.header {
    display: flex;
}

.header_icon {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header::before {
    content: "";
    flex-grow: 1;
    min-width: 0;

}

.header_icon {
    display: flex;
    align-items: center;
    gap: 15px;
	padding-right: 30px;
    flex-grow: 1;
    justify-content: flex-end;
    flex-shrink: 0;
}

.header_logo{
	margin-left: 150px;
}

.header_icon img {
    height: 30px;
    width: auto;
}

.header_icon .header_icon_special {
    height: 40px;
}

.category {
    background-color: #575D65;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.menu {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.menu p {
    padding: 10px;
}

.category p {
    padding: 10px;
}