
.card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 10px;
}

.card:hover {
  border-color: #666b70;
  box-shadow: 0 rgb(48, 61, 75)x rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;

}

.title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 18px;
  color: #666;
  line-height: 1.4;
  margin-bottom: 10px;
}

.description button {
  margin-top: auto;
  padding: 10px 15px;
  color: white;
  background-color: #666b70;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

