


.footer {

	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
    background-color: #D2E2DC80;
}

.footer_columns {
    display: flex;
    justify-content: center;
    gap: 110px;
    width: 100%;
}

.footer_columns p {
    margin: 14px 0;
    text-align: left;
}

.footer hr {
    width: 100%;
    max-width: 900px;
}

.footer-copyright {
    text-align: center;
}
